[submodule "bundle_backup/ZoomWin"]
	path = bundle_backup/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin
[submodule "YouCompleteMe/ZoomWin"]
	path = bundle_backup/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
